<div class="footer-container">
    <div class="social-media-container">
        <a href="https://www.facebook.com/EnasJerkmania" target="_blank"><img src="/assets/icons/social-fb.png"/></a>
        <a href="https://twitter.com/EnasJerkmania" target="_blank"><img src="/assets/icons/social-tw.png"/></a>
        <a href="https://www.instagram.com/enasjerkmania/" target="_blank"><img src="/assets/icons/social-ig.png"/></a>
    </div>
    <p class="mt-3">&copy; 2017, all rights reserved &bull; designed & developed by Del Kirksey</p>
    
    <img class="logo" src="/assets/images/logo.png" />
</div>