.reviewer {
    display: flex;
    justify-content: space-between;
}

.user-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.name-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;
}

.user-name {
    font-weight: bold;
}

.star {
    width: 20px;
    height: 20px;
}

.review-text {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .9em;
    color: rgb(120, 120, 120);
}

