<div class="reviewer mb-3">
    <img class="user-img" src={{review.user.image_url}} />
    <div class="name-rating">
        <div class="user-name">
            {{review.user.name}}
        </div>
        <div>
            <img class="star" src="/assets/icons/star.png" />
            <img class="star" src="/assets/icons/star.png" />
            <img class="star" src="/assets/icons/star.png" />
            <img class="star" src="/assets/icons/star.png" />
            <img class="star" src="/assets/icons/star.png" />
        </div>
    </div>
</div>
<p class="review-text">
    {{review.text}}
</p>