<div class="page-title">
    <h2>Our Story</h2>
</div>
<section class="about">
    <div >
        <p>
            Founded in September 2011, Enas Jerkmania was located in Springdale, Ohio, and was the brainchild of Ms. Ena’s sons Marlon and Ashford Hayles. The family-owned and operated restaurant utilized the increasing popular fast casual dining model that provided customers with speedy, authentic, Jamaican Jerk cuisine. Ashford and his wife Alicia, opened Ena’s Jerkmania to make premium Jerk fare readily available to the mass market.
        </p>
        <p>
            April 2014 Enas Jerkmania launched Just Jerks Enas Jamaican Grill food truck. Realizing the success of the Just Jerks food truck, the restaurant was converted to a commissary kitchen in September 2014. The Just Jerks food truck currently serves the Cincinnati and Dayton, Ohio market from March to November.
        </p>
    </div>
    <div class="about-img img">
        
    </div>
</section>
<section class="history">
    <div class="history-img img">

    </div>
    <div>
        <p>
            Ms. Ena was born in Mendez, Saint Catherine in 1950.  This is where she mastered her craft of cooking and perfected her well-known jerk sauce.  Immigrating to the United States in 1982 under the leadership of her husband, Lloyd Hayles, they moved their five children to the Linden Area of Columbus, Ohio.
        </p>
        <p>
            Known for their large Sunday family dinners, someone jokingly suggested the family open a restaurant.  By December 1999, Ena’s Caribbean Kitchen opened its doors to the public in the same Linden Area they had immigrated to almost 20 years earlier.  By 2004, Ena’s Caribbean Kitchen opened a larger location three doors down by renovating a dilapidated laundry mat.  Currently, Ena’s Caribbean Kitchen has become one of Central Ohio’s favorite Caribbean restaurant and a staple within the Linden Area.
        </p>
        <p>
            In December 2017, Ena’s Caribbean Kitchen,  was featured on Food Network’s top-rated tv program, Diners,​ ​Drive-ins​ ​and​ ​Dives​ hosted by award-winning restaurateur Guy Fieri.
        </p>
        <p>
            Come visit Ena’s Caribbean Kitchen at the intersection of Cleveland Ave and Myrtle Ave!
        </p>
    </div>
</section>