<div class="page-title">
    <h2>Our Menu</h2>
    <span class="text-muted">Where fresh ingredients inspire <u>BOLD</u> flavors.</span>
    <span class="icons mt-3">
        <img src="/assets/icons/pepper.png" />
        <img src="/assets/icons/banana.png" />
        <img src="/assets/icons/onion.png" />
        <img src="/assets/icons/barley.png" />        
        <img src="/assets/icons/leaf.png" />
    </span>
</div>
<div class="menu-container">
    <div class="menu-titles-container container py-5">
        <div class="btn-group btn-group-lg" role="group" aria-label="Menu Titles">
            <button (click)="changeMenu('Food Truck')" type="button" class="btn btn-outline-light active" id="food truck">Food Truck</button>
            <button (click)="changeMenu('Catering')" type="button" class="btn btn-outline-light" id="catering">Catering</button>
        </div>
    </div>
    <div class="menu-items-container">
        <div class="mx-3">
            <div class="menu-items-type">
                <h3 class="text-capitalize">Entrées</h3>
            </div>
            <menu-item *ngFor="let item of entree" [item]="item"></menu-item>
        </div>
        <div class="mx-3">
            <div class="menu-items-type">
                <h3 class="text-capitalize">Sides</h3>
            </div>
            <menu-item *ngFor="let item of side" [item]="item"></menu-item>
        </div>
        <div class="mx-3">
            <div class="menu-items-type">
                <h3 class="text-capitalize">Sauces</h3>
            </div>
            <menu-item *ngFor="let item of sauce" [item]="item"></menu-item>
        </div>
    </div>
</div>