<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#"><img class="logo" src="/assets/images/logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/assets/icons/dots.png" />
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item my-auto mx-3">
            <a (click)="scrollTo('menu')" class="nav-link">MENU</a>
        </li>
        <li class="nav-item my-auto mx-3">
            <a (click)="scrollTo('stops')" class="nav-link">TRUCK STOPS</a>
        </li>
        <li class="nav-item middle-logo my-auto">
            <a (click)="scrollTo('landing')" class="nav-link"><img class="logo" src="/assets/images/logo.png" /></a>
        </li>
        <li class="nav-item my-auto mx-3">
            <a (click)="scrollTo('about')" class="nav-link">OUR STORY</a>
        </li>
        <li class="nav-item my-auto mx-3">
            <a (click)="scrollTo('landing')" class="nav-link">PRESS</a>
        </li>
        </ul>
    </div>
</nav>