<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#"><img class="logo" src="/assets/logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item my-auto mx-3">
            <a class="nav-link" href="#">MENU</a>
        </li>
        <li class="nav-item my-auto mx-3">
            <a class="nav-link" href="#">OUR STORY</a>
        </li>
        <li class="nav-item middle-logo my-auto">
            <a class="nav-link" href="#"><img class="logo" src="/assets/images/logo.png" /></a>
        </li>
        <li class="nav-item my-auto mx-3">
            <a class="nav-link" href="#">CALENDAR</a>
        </li>
        <li class="nav-item my-auto mx-3">
            <a class="nav-link" href="#">LOCATIONS</a>
        </li>
        </ul>
    </div>
</nav>