/* ALL SCREENS */

nav {
    margin-top: 25px;
    color: #fff;
}

li a {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff !important;
}

li a:hover {
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler > img {
    height: 35px;
}

/* MEDIUM SCREEN & UP */

@media screen and (min-width: 768px) {
    nav {
        margin-top: 25px;
    }

    .navbar-brand {
        display: none;
    }

    .logo {
        min-height: 120px;
        height: 13vh;
    }    
}

/* SMALL SCREEN & DOWN */

@media screen and (max-width: 767px) {
    nav {
        margin-top: 10px;
    }

    .middle-logo {
        display: none !important;
    }

    li.nav-item {
        text-align: center;
    }

    .logo {
        min-height: 100px;
        height: 10vh;
    }
}