@import url('https://fonts.googleapis.com/css?family=Laila:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

.app {
    min-height: 800px;

    display: flex;
    flex-direction: column;
}

.app > *:first-child {
    min-height: 100vh;
    margin: 0;
}

.app > div {
    display: flex;
    flex-direction: column;
}

#landing {
    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url('/assets/images/truck-bw-trees.jpg');
    background-size: cover;
    background-position: center;
}

top-nav {
    text-align: center;  
}

intro {
    min-height: 400px;

    /* PARENT FLEX ATTRIBUTES */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* CHILD FLEX ATTRIBUTES */
    flex-grow: 2;
    flex-shrink: 2;

    z-index: 1;
}

menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('/assets/images/fam.jpg');
    background-size: cover;
    background-position: center;

    padding: 70px 0;
}

yelp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 70px 0;
}

stops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex-grow: 2;
    flex-shrink: 2;

    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image */
    url('/assets/images/foodtruck.jpg');

    color: white;

    padding: 70px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 300px;
}

/* WIDESCREEN & UP */

@media screen and (min-width: 1600px) {
    
    }
    
    /* LARGE SCREEN & UP */
    
    @media screen and (min-width: 992px) {
    
    }
    
    /* MEDIUM SCREEN */
    
    @media screen and (max-width: 991px) and (min-width: 768px) {
    
    }
    
    /* SMALL SCREEN & DOWN */
    
    @media screen and (max-width: 767px) {
        #landing {
            background: 
            /* top, transparent red */ 
            linear-gradient(
              rgba(0, 0, 0, 0.7), 
              rgba(0, 0, 0, 0.7)
            ),
            /* bottom, image */
            url('/assets/images/truck.jpg');
            background-position: 50% 50%;
        }
    }