.page-title > h2 {
    font-size: 3em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
}

.map-stops{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    width: 70vw;
    max-width: 1000px;
}

.map-container {
    flex-grow: 2;
    flex-shrink: 2;

    min-width: 350px;

    padding: 25px;
}

#map {
    width: 100%;
    height: 100%;
}

.map-stops > div {
    font-family: 'Barlow Semi Condensed', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 400px;
}

.stops-container > h3 {
    font-size: 2em;
    
    font-weight: bold;
    text-align: center;
}

.truck-stop {
    display: flex;

    margin: 0 auto;

    width: 350px;
}

.stop-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #fff;

    color: #000;
    text-align: center;

    width: 50px;
}

.stop-date > span {
    width: 50px;
    line-height: 1;
}


.date {
    font-size: 1.8em;
}

.stop-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    flex-grow: 2;
    flex-shrink: 2;

    padding: 10px;
    border: 2px solid #fff;
}

.stop-location > div {
    flex-basis: 100%;

    display: flex;
    justify-content: space-between;
}

.stop-name {

    font-weight: bold;
}

.stop-time {
    font-weight: bold;
}

.stop-name, .stop-time {
    color: rgba(230, 203, 0, 1);
}

.truck-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    text-align: center;
}

.truck-stop {
    
}

.tag {
    flex-basis: 100%;
}

.small > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: inherit;

    margin: 10px 15px;
}

a > img {
    height: 35px;
}